In [130]:
import pandas as pd

In [131]:
df = pd.read_csv("spotify_millsongdata.csv")

In [132]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [133]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [134]:
df.shape

(57650, 4)

In [135]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [136]:
df=df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [137]:
df.head(10)

,artist,song,text
0,Irving Berlin,When I Lost You,(musical intro) \r\nI lost the sunshine and r...
1,Incubus,I Miss You,To see you when I wake up \r\nIs a gift I did...
2,NOFX,Door Nails,These two shots are for Derrick \r\nFor Rifle...
3,Modern Talking,Love Don't Live Here Anymore,"(Hold me darling, you know that I really, real..."
4,Kris Kristofferson,Someone Loves You Honey,I want to share your life every minute every d...
5,Iron Maiden,Rainbow's Gold,In the heat of the morning \r\nWhen your day ...
6,Cheap Trick,The Flame,Another night slowly closes in and I feel so l...
7,One Direction,Lost In Life,"She's seventeen, \r\nAnd gets to thinking, \..."
8,Fastball,All I Was Looking For Was You,When I was a boy \r\nI could not stand the si...
9,Alabama,The Star Spangled Banner,"Oh, say, can you see, by the dawn's early ligh..."

In [138]:
df['text'][0]

'(musical intro)  \r\nI lost the sunshine and roses, I lost the heavens of blue,  \r\nI lost the beautiful rainbow, I lost the morning dew.  \r\nI lost the angel who gave me summer, the whole winter too.  \r\nI lost the gladness that turned into sadness,  \r\nWhen I lost you.  \r\n(musical interlude)  \r\nAnd I lost the angel who gave me summer, the whole winter too.  \r\nI lost the gladness that turned into sadness,  \r\nWhen I lost you.\r\n\r\n'

In [139]:
df.shape

(5000, 3)

Text Cleaning/Text Preprocessing

In [140]:
df['text']= df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [141]:
df

,artist,song,text
0,Irving Berlin,When I Lost You,(musical intro) \r i lost the sunshine and ro...
1,Incubus,I Miss You,to see you when i wake up \r is a gift i didn...
2,NOFX,Door Nails,"these two shots are for derrick \r for rifle,..."
3,Modern Talking,Love Don't Live Here Anymore,"(hold me darling, you know that i really, real..."
4,Kris Kristofferson,Someone Loves You Honey,i want to share your life every minute every d...
...,...,...,...
4995,Zac Brown Band,As She's Walking Away,we never spoke a word \r but every thought sh...
4996,Radiohead,Killer Cars,too hard on the brakes again \r what if these...
4997,Dean Martin,Candy Kisses,candy kisses wrapped in paper \r mean more to...
4998,Ramones,"Here Today, Gone Tomorrow","oh oh oh, \r oh oh oh,i love ya x2 \r i do,i..."
4999,Children,The Bear Went Over The Mountain,"the bear went over the mountain, \r the bear ..."

In [142]:
df.tail(5)

,artist,song,text
4995,Zac Brown Band,As She's Walking Away,we never spoke a word \r but every thought sh...
4996,Radiohead,Killer Cars,too hard on the brakes again \r what if these...
4997,Dean Martin,Candy Kisses,candy kisses wrapped in paper \r mean more to...
4998,Ramones,"Here Today, Gone Tomorrow","oh oh oh, \r oh oh oh,i love ya x2 \r i do,i..."
4999,Children,The Bear Went Over The Mountain,"the bear went over the mountain, \r the bear ..."

In [143]:
import nltk
from nltk.stem.porter import PorterStemmer

In [144]:
stemmer=PorterStemmer()

In [145]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [146]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [148]:
df['text'].apply(lambda x: token(x))

0       ( music intro ) i lost the sunshin and rose , ...
1       to see you when i wake up is a gift i did n't ...
2       these two shot are for derrick for rifl , not ...
3       ( hold me darl , you know that i realli , real...
4       i want to share your life everi minut everi da...
                              ...
4995    we never spoke a word but everi thought she ha...
4996    too hard on the brake again what if these brak...
4997    candi kiss wrap in paper mean more to you than...
4998    oh oh oh , oh oh oh , i love ya x2 i do , i do...
4999    the bear went over the mountain , the bear wen...
Name: text, Length: 5000, dtype: object

In [149]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [150]:
tfid=TfidfVectorizer(analyzer='word', stop_words='english')

In [151]:
matrix=tfid.fit_transform(df['text'])

In [152]:
similer=cosine_similarity(matrix)

In [153]:
similer[1]

array([0.        , 1.        , 0.0054408 , ..., 0.        , 0.00830858,
       0.        ], shape=(5000,))

In [156]:
df[df['song']=="Here Today, Gone Tomorrow"].index[0]

np.int64(4998)

In [157]:
def recommender(song_name):
    idx=df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key= lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [158]:
recommender("Here Today, Gone Tomorrow")

['Gypsy',
 'Here Comes The Hammer',
 "Sweet Child O' Mine",
 'Blind Love',
 'My Head Sounds Like That',
 'Glory And Gore',
 'Just One Time',
 'Tangled Up In Plaid',
 'Mary Ann',
 '2:10 Train',
 'Oh Woman',
 'One Last Time',
 'Belly Full',
 "I Ain't Goin' Down To The Well No More",
 "I'll Never Give You Up",
 'This Time',
 'Hiciste',
 'Fire Bomb',
 'Back On Earth',
 'Careless Love']

In [ ]:
import pickle
pickle.dump(df, open("df","wb"))

In [159]:
pickle.dump(similer, open("similarity","wb"))